#include "AppConfig.xcconfig"

MIN_GRAPH_URL      = https:\/\/ios-api.minswap.org
MIN_PUBLIC_NETWORK_ID = mainnet
MIN_TRANSACTION_URL = https:/\/\cardanoscan.io
MIN_ADA_HANDLE_URL = https:/\/\api.handle.me\/handles

MIN_MIN_TOKEN = 29d222ce763455e3d7a09a665ce554f00ac89d2e99a1a83d267170c6.4d494e
MIN_MINT_TOKEN = 29d222ce763455e3d7a09a665ce554f00ac89d2e99a1a83d267170c6.4d494e74
MIN_CURRENCY_SYMBOL_LP_V1 = e4214b7cce62ac6fbba385d164df48e157eae5863521b4b67ca71d86
MIN_ADA_TOKEN = lovelace
MIN_ADA_CURRENCY = ₳
MIN_ADDRESS_PREFIX = addr1
MIN_POLICY_URL = https:\/\/eternl-dapp-browser.minswap.org
MIN_ASSET_URL = https:\/\/asset-logos.minswap.org
MIN_AGG_URL = https:\/\/ios-api.minswap.org
